services:
  email-notification-worker:
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "1.3"
          memory: 100M
        reservations:
          cpus: "0.1"
          memory: 94M